body {

    display: grid;
    place-items: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.expensesWrapper {

    display: flex;
    gap: 150px;
}

.expenseInput__input {

    width: 200px;
    padding: 6px 0 4px 10px;
	font-size: 13px;  
}

.spendData {

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addExpenseBtn {

  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 10px 10px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}

.addExpenseBtn:hover,
.resetBtn:hover {

    opacity: 0.5;
}

.resetBtn {

    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px 10px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #ef9ee1 0%, #9a1111 51%, #e0e0e0 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

.limit-status {
    color: green;
}

.limit-status_red {
    color: red;
}