body {
    font-family: 'Montserrat', sans-serif;
}

.mainTitle,
.expensesHistory__title {

    text-align: center;
    margin-bottom: 41px;
    font-size: 32px;
    font-weight: 700px;
    color: #121212;
    line-height: 38.73px;
}

.expensesInputWrapper {

    display: flex;
    margin-left: 256px;
    gap: 28px;
}

.expenseInput__input,
.addExpenseBtn, 
.categorySelect,
.spendData,
.resetBtn {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.expenseInput__input {

    margin-bottom: 18px;
    width: 484px;
    height: 58px;
    line-height: 38.73px;
    font-weight: 400px;
}

.addExpenseBtn {

    display: inline-block;
    width: 370px;
    height: 58px;
    text-decoration: none;
    background-color: #0094FF;
    color: #ffffff;
  }

  .rub::after {

    content: " руб.";
    font-size: 32px;
}

.categorySelect {

    margin-bottom: 65px;
    display: inline-block;
    margin-left: 256px;
    width: 484px;
    height: 58px;    
    font-weight: 400px; 
    color: #121212;
    border-radius: 0%;
    background-color: #ffffff
}

.spendData {

    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
    gap: 30px;
    margin-left: 256px;
}

.stats__changeLimitBtn {

    width: 20px;
    height: 20px;
}

.resetBtn {

    display: inline-block;
    margin-bottom: 65px;
    margin-left: 256px;
    width: 370px;
    height: 58px;
    text-decoration: none;
    background-color: #FF0000;
    color: #ffffff;
}

.limit-status {
    color: green;
}

.limit-status_red {
    color: red;
}

.historyOutputStyle {

    font-size: 32px;
    margin-left: 256px;
    padding: 10px;
}

.addExpenseBtn:hover,
.resetBtn:hover {
    opacity: 0.5;
}


